.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  &__list {
    display: block;
    width: max-content;
    margin-top: 20px;
  }
  &__text {
    color: var(--footer-contacts);
    &--accent {
      color: var(--third-color);
    }
  }
}
