.advantages {
  padding-bottom: 0;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__list-item {
    width: 270px;
  }

  &__list-icon {
    margin-bottom: 30px;
    padding: 25px 100px;
    border-radius: 3px;
    background-color: var(--filters-btn-bg);
  }

  &__text {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.172;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__description {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--fourth-color);
  }
}
